.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.box {
    display: flex;
    width: 40.625rem;
    border: 0.0625rem solid black;
    margin: 0.625rem; /* Separación entre las cajas */
    padding: 0.3125rem; /* Separación entre el borde y el contenido */
    align-items: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Se agrega para centrar verticalmente */
    width: 25rem;
    height: 5.375rem;
    padding-left: 0.3125rem;
    flex-grow: 1; /* Se agrega para que se extienda hacia la derecha */
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.3125rem 0;
}

p {
    font-size: 1.125rem;
    margin: 0.3125rem 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.625rem;
    width: 100%;
}

.price {
    font-size: 1.125rem;
    font-weight: bold;
}
