.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.box {
    display: flex;
    width: 35rem;
    border: 0.0625rem solid black;
    margin: 0.625rem; /* Separación entre las cajas */
    padding: 0.3125rem; /* Separación entre el borde y el contenido */
    align-items: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 7rem; /* Se establece la altura en 7rem para la imagen */
    width: 7rem; /* Se establece el ancho en 7rem para la imagen */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between; /* Se agrega para centrar verticalmente */
    height: 7rem;
    padding-left: 0.3125rem;
    flex-grow: 1; /* Se agrega para que se extienda hacia la derecha */
    margin: 0 auto;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.3125rem 0;
}

p {
    font-size: 1.125rem;
    margin: 0.3125rem 0;
}

.five_stars i {
    font-size: 0.90rem; /* Cambiar el tamaño de fuente según sea necesario */
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 0.9rem; /* Se establece line-height en el mismo valor que la altura de la fuente para eliminar el espacio adicional alrededor del texto */
}