header{
    background-color: #A0B1AC;
    width: 100%;
    height: 4.5rem;
    position: relative;
    display: flex;
    align-items: center;
}

/* Etiquetas por defecto */

body{
    margin: 0;
    background-color: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}