<section id="header_logo">
  <div class="recuadroLogo">
    <p>LOGO</p>
  </div>
</section>

<section id="header_subOptions">
  <nav>
    <ul>
      <li><a href="#">DESTINOS</a></li>
      <li><a href="#">ACTIVIDADES</a></li>
      <li><a href="#">SOBRE NOSOTROS</a></li>
    </ul>
  </nav>
  <div class="circle_icon">
    <i class="bi bi-globe2">
      <div class="dropdown_content">
        <a href="#">Español</a>
        <a href="#">English</a>
        <a href="#">Français</a>
      </div>
    </i>
  </div>
  <div class="circle_icon">
    <i class="bi bi-person">
      <div class="dropdown_content">
        <a href="#">Perfil</a>
        <a href="#">Configuración</a>
        <a href="#">Cerrar sesión</a>
      </div>
    </i>
  </div>
</section>