<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>

<body>
    <header>
        <section id="header_logo">
            <div class="recuadroLogo">
                <p>LOGO</p>
            </div>
        </section>

        <section id="header_subOptions">
            <!-- <i class="bi bi-globe2"></i> -->
            <img src="../images/languageIcon.png" alt="Selecciona un idioma">
            <img src="../images/userIcon.png" alt="Inicia sesión">
        </section>

    </header>

    <div class="container">
        <h2>Iniciar sesión</h2>
        <form>
            <div class="field">
                <label>E-mail:<br></label>
                <input class="text" type="email" placeholder="Correo electrónico">
            </div>
            <div class="field">
                <label>Contraseña:<br></label>
                <input class="text" type="password" placeholder="Contraseña">
            </div>
            <div class="field">
                <input class="button" type="submit" value="Iniciar sesión">
            </div>
        </form>
        <div>
            <label> ¿No tienes cuenta?</label>
            <input  class="sign_up" type="submit" value="Regístrate">
        </div>
    </div>

    <footer id="main_footer" w3-include-html="footer.html"></footer>
    <script>

        w3IncludeHTML();

    </script>
</body>

</html>