<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<body>
    <div class="container">
        <h2>Iniciar sesión</h2>
        <div class="field">
            <form>
                <label>E-mail:<br></label>
                <input class="text" type="email" placeholder="Correo electrónico">
            </form>
        </div>
        <div class="field">
            <form>
                <label>Contraseña:<br></label>
                <input class="text" type="password" placeholder="Contraseña">
            </form>
        </div>
        <form>
            <input class="button" type="submit" value="Iniciar sesión">
        </form>
        <div>
            <form>
                <label> ¿No tienes cuenta?</label>
                <input class="sign_up" type="submit" value="Regístrate">
            </form>
        </div>
    </div>
</body>

</html>