<h2 class="my_activities">Tus actividades</h2>
<div class="my_location">
    <div class="location_title">
        <p><i class="bi bi-geo-alt"></i>Tu ubicación:</p>
    </div>
    <div class="location_toggle">
        <p>Tafira Baja, Las Palmas de Gran Canaria</p>
        <i class="bi bi-chevron-down"></i>
    </div>
</div>
<div class="activities_items">
    <div class="activities_item">
        <div class="activities_item_info">
            <h3>Surf</h3>
            <p>10.00 - 16.00</p>
            <p class="location"><i class="bi bi-geo-alt"></i>Playa de Las Canteras, Las Palmas de Gran Canaria</p>
        </div>
        <img src="https://estaticos.qdq.com/swdata/home_photos/527/527690430/7df7b9bb7d044d9ba4f9a45f6fdecabc.jpg"
            alt="image">
    </div>
    <div class="activities_item">
        <div class="activities_item_info">
            <h3>Roque Nublo</h3>
            <p>10.00 - 18.00</p>
            <p class="location"><i class="bi bi-geo-alt"></i>Nublo, Tejeda</p>
        </div>
        <img src="https://grancanariatrekking.files.wordpress.com/2020/05/circularcruztejeda.jpg" alt="image">
    </div>
</div>
<div class="buttons">
    <button class="button">Cambiar actividades</button>
    <button class="button">Ver actividades en mapa</button>
</div>